# entorno virtual
myenv/
venv/

# ignorar archivos de base de datos locales
*.sqlite3
db.sqlite3

# ignorar archivos de temporales
*.pyc
__pycache__/

# ignorar el archivo .env que contiene información de la BD
.env

# DJANGO

## configuraciones locales
*.log

## otros
/media/
/static/