# IDE
.idea/

# Entorno virtual
venv/
myenv/

# Ignorar archivos de base de datos locales
*.sqlite3
db.sqlite3

# Ignorar archivos de temporales
*.pyc
__pycache__/

# Ignorar el archivo .env que contiene información de la BD
.env

# DJANGO

## Configuraciones locales
*.log

## Otros
/media/
/static/