# Ignorar el entorno virtual
myenv/

# Ignorar archivos de base de datos locales
*.sqlite3
db.sqlite3

# Ignorar archivos de compilación y temporales
__pycache__/
*.pyc

# Ignorar el archivo .env que contiene información sensible
.env

# Ignorar configuraciones de Django locales
*.log

# Otros archivos y carpetas de Django
/media/
/static/
