<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión Logística</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li><a href="home.html">Inicio</a></li>
            <li><a href="envios.html">Envíos</a></li>
            <li><a href="rutas.html">Rutas</a></li>
            <li><a href="reportes.html">Reportes</a></li>
            <li><a href="login.html">Iniciar sesión</a></li>
        </ul>
    </nav>

    <main>
        
    </main>

    <!-- Pie de página -->
    <footer>
        <p>2025 Diseño de Software. Equipo 6</p>
    </footer>
</body>
</html>