<!DOCTYPE HTML>

{% load static %}

<HTML lang = "en">
	<HEAD>
		<TITLE> Seleccionar rutas </TITLE>
		<META charset = "UTF-8">
		<META name = "viewport" content = "width=device-width, initial-scale=1">
		<link rel = "stylesheet" type = "text/css" href = "{% static 'app/css/route_selection.css' %}">
	</HEAD>
	
	<BODY>

		<div class = "contenedor_principal">

			<div class = "fecha">
				<FORM ACTION = "", METHOD = "POST">
					{% csrf_token %}
					{{ form }}
					
					<INPUT TYPE = "SUBMIT" VALUE = "ver">
				</FORM>
			</div>
			
			<div class = "mapa">
				
				<IFRAME WIDTH = "750" HEIGHT = "750" SRC = "{{ map }}">
				</IFRAME>

			</div>

		</div>
		<footer>
			<p>2025 Diseño de Software. Equipo 6.</p>
		</footer>
		</BODY>
</HTML>